name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        scalaversion: ["2.11.12", "2.12.10", "2.13.1"]
        jsdomversion: ["10.0.0", "16.0.0"]
    steps:
      - uses: actions/checkout@v2
      - uses: olafurpg/setup-scala@v10
        with:
          java-version: "adopt@1.8"
      - uses: coursier/cache-action@v5
      - name: Use Node.js 12
        uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: Install jsdom
        env:
          V: ${{ matrix.jsdomversion }}
        run: (cd jsdom-$V && npm ci) && ln -s jsdom-$V/node_modules
      - name: Unit tests
        run: sbt "++${{ matrix.scalaversion }}" scalajs-env-jsdom-nodejs/test
      - name: Doc generation
        run: sbt "++${{ matrix.scalaversion }}" scalajs-env-jsdom-nodejs/doc
      - name: Integration tests
        run: sbt "++${{ matrix.scalaversion }}" test-project/run test-project/test
